{% extends "base.html.twig" %}

{% block body %}

    <main>

        <h1 class="mainTitle">Horaires et services</h1>

        <h4>Horaires</h4>
        <div class="card">
            

            {% for message in app.flashes('success') %}
                <div class="alert alert-success">{{ message }}</div>
            {% endfor %}
        
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td><b>{% trans %}Jour{% endtrans %}</b></td>
                        <td><b>{% trans %}Horaires Matin{% endtrans %}</b></td>
                        <td><b>{% trans %}Horaires Après-Midi{% endtrans %}</b></td>
                    </tr>
                </thead>
                <tbody>
                    {% for horaire in horaireList %}
                        <tr>
                            <td>{{ horaire.nomJour }}</td><td>{{ horaire.heureDebut|date('H:i') }}</td><td>{{ horaire.heureFin|date('H:i') }}</td>
                            {% if app.user %}
                                <td><a href="{{ path('admin.horaire.edit', {id: horaire.id})}}" class="btn btn-primary">Mise à jour</a></td>
                            {% endif %}
                        </tr>
                        
                    {% endfor %}
                </tbody>
            </table>
        </div>

        

        <h4>{% trans %}Services Proposés{% endtrans %}</h4>
        <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Service 1</li>
                <li class="list-group-item">Service 1</li>
                <li class="list-group-item">Service 1</li>
                <li class="list-group-item">Service 1</li>
                <li class="list-group-item">Service 1</li>
                <li class="list-group-item">Service 1</li>
                <li class="list-group-item">Service 1</li>
            </ul>
        </div>
        

    </main>

{% endblock %}