{% extends "base.html.twig" %}

{% block body %}

    <main>

        <h2>Horaires et services</h2>

        <h4>Horaires</h4>

        {% for message in app.flashes('success') %}
            <div>{{ message }}</div>
        {% endfor %}
        
            <table>
                {% for horaire in horaireList %}
                    <tr>
                        <td>{{ horaire.nomJour }}</td><td>{{ horaire.heureDebut|date('H:i') }}</td><td>{{ horaire.heureFin|date('H:i') }}</td>
                        {% if app.user %}
                            <td><a href="{{ path('admin.horaire.edit', {id: horaire.id})}}" class="btn btn-primary">Mise à jour</a></td>
                        {% endif %}
                    </tr>
                    
                {% endfor %}
            </table>
        

        

        <h4>Services Proposés</h4>
        <ul>
            <li>Serv1</li>
            <li>Serv1</li>
            <li>Serv1</li>
            <li>Serv1</li>
            <li>Serv1</li>
            <li>Serv1</li>
            <li>Serv1</li>
        </ul>
        

    </main>

{% endblock %}