{% extends "base.html.twig" %}

{% block body %}

    <main>

        <h2>Actualité</h2>
        {% for actualite in actualites %}
            <h5>
                <a href="{{ path('event.detail', {id: actualite.id})}}">{{actualite.titre}}</a>
            </h5>
            <p>{{actualite.type}}</p>
            <p>{{actualite.description}}</p>
            <p>Date : {{actualite.dateEvent|date('d/m/Y')}}</p>
            {% if actualite.inscription == 1 %}
                <p>Une inscription auprès de la mairie est obligatoire</p>
            {% endif%}
        {% endfor %}

        <div class="pagination">
            {{ knp_pagination_render(actualites) }}
        </div>

    </main>

{% endblock %}