{% extends "base.html.twig" %}

{% block body %}

    <main>

        <h2>Evénement</h2>

        {% for event in listEvent %}
            <h5>
                <a href="{{ path('event.detail', {id: event.id})}}">{{event.titre}}</a>
            </h5>
            <p>{{event.type}}</p>
            <p>{{event.description}}</p>
            <p>Date : {{event.dateEvent|date('Y/m/d')}}</p>
        {% endfor %}
        

    </main>

{% endblock %}