{% extends "base.html.twig" %}

{% block body %}

    <main>

        <h2>{{detailEvent.titre}}</h2>

        {% if detailEvent.nomFichier %}
            <img src="{{ vich_uploader_asset(detailEvent, 'imageFile')}}" style="width: 100%; height:auto" />

            {% else %}
            <img src="/images/events/empty.png" style="width: 100%; height:auto" />
        {% endif %}

        <p>Date: {{detailEvent.dateEvent|date('d/m/Y')}}<br/>
        {{detailEvent.type}}<br/>
        {{detailEvent.description}}</p>
        {% if detailEvent.inscription == 1 %}
            <p>Une inscription auprès de la mairie est obligatoire</p>
        {% endif%}

    </main>

{% endblock %}