{% extends "base.html.twig" %}

{% block body %}

    <main>

        <div class="jumbotron">
            {{ form_start(formRecherche) }}
                <button class="btn btn-primary">Rechercher</button>
            {{ form_end(formRecherche) }}
        </div>
        <div>
            <h2>Evénement</h2>

            {% for event in listEvent %}
                <h5>
                    <a href="{{ path('event.detail', {id: event.id})}}">{{event.titre}}</a>
                </h5>
                <p>{{event.type}}</p>
                <p>{{event.description}}</p>
                <p>Date : {{event.dateEvent|date('d/m/Y')}}</p>
            {% endfor %}
        </div>
        <div class="pagination">
            {{ knp_pagination_render(listEvent) }}
        </div>

    </main>

{% endblock %}