<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Ville de Pulligny{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        {% block header %}<nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Menu</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="{{ path('home')}}">Accueil <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{ path('history')}}">Historique</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('service')}}">Service</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('actu')}}">Actualite</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('event')}}">Evenement</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="{{ path('contact')}}">Contact </a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="{{ path('login')}}">Administration </a>
                    </li>
                    {% if app.user %}
                      <li class="nav-item">
                          <a class="nav-link" href="{{ path('admin.crud')}}">Gestion d'événement </a>
                      </li>
                      <li class="nav-item"></li>
                        <a class="nav-link" href="{{ path('logout')}}">Se Déconnecter</a>
                      </li>
                    {% endif %}
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
                  </form>
                </div>
              </nav>

              <h1>Bienvenue à Pulligny</h1>

              <p>IMAGE ILLU</p>
        {% endblock %}

        {% block body %}{% endblock %}
        {% block footer %} <p>Site réalisé par Raphaël Frantzen - Copyright 2019 - <a href="{{ path('contact')}}">Contact</a> - <a href="#">Données Personnelles</a> - </p>{% endblock %}
        {% block javascripts %}{% endblock %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
