<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Ville de Pulligny{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""/>
        {% block stylesheets %}
          {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>

        {% block header %}<nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="{{ path('home')}}">Menu</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link {% if current_menu is defined and current_menu == 'accueil' %}active{% endif %}" href="{{ path('home')}}">{% trans %}Accueil{% endtrans %}</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link {% if current_menu is defined and current_menu == 'histoire' %}active{% endif %}" href="{{ path('history')}}">{% trans %}Historique{% endtrans %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if current_menu is defined and current_menu == 'service' %}active{% endif %}" href="{{ path('service')}}">{% trans %}Service{% endtrans %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if current_menu is defined and current_menu == 'actualite' %}active{% endif %}" href="{{ path('actu')}}">{% trans %}Actualite{% endtrans %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if current_menu is defined and current_menu == 'evenement' %}active{% endif %}" href="{{ path('event')}}">{% trans %}Evenement{% endtrans %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if current_menu is defined and current_menu == 'contact' %}active{% endif %}" href="{{ path('contact')}}">{% trans %}Contact{% endtrans %}</a>
                    </li>
                    {% if not app.user %}
                      <li class="nav-item">
                          <a class="nav-link {% if current_menu is defined and current_menu == 'login' %}active{% endif %}" href="{{ path('login')}}">{% trans %}Administration{% endtrans %}</a>
                      </li>
                    {% endif %}
                    {% if app.user %}
                      <li class="nav-item">
                          <a class="nav-link {% if current_menu is defined and current_menu == 'gestEvenement' %}active{% endif %}" href="{{ path('admin.crud')}}">{% trans %}Gestion d'événement{% endtrans %}</a>
                      </li>
                      <li class="nav-item"></li>
                        <a class="nav-link" href="{{ path('logout')}}">{% trans %}Se Déconnecter{% endtrans %}</a>
                      </li>
                    {% endif %}
                  </ul>
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {% trans %}Langue{% endtrans %}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="{{ path('langue', {lang:'fr'})}}">{% trans %}Français{% endtrans %}</a>
                      <a class="dropdown-item" href="{{ path('langue', {lang:'en'})}}">{% trans %}Anglais{% endtrans %}</a>
                    </div>
                  </div>
                  <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
                  </form>
                </div>
              </nav>

              <h1>{% trans %}Bienvenue à{% endtrans %} Pulligny</h1>

              <p>IMAGE ILLU</p>
        {% endblock %}

        {% block body %}{% endblock %}
        {% block footer %} <p>{% trans %}Site réalisé par {% endtrans %}Raphaël Frantzen - Copyright 2019 - <a href="{{ path('contact')}}">{% trans %}Contact{% endtrans %}</a> - <a href="{{ path ('donneesPerso')}}">{% trans %}Données Personnelles{% endtrans %}</a> - </p>{% endblock %}
        
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
          <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>
        {% block javascripts %}
          {{ encore_entry_script_tags('app') }}
          
        {% endblock %}
    </body>
</html>
